*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    font-family : sans-serif;
    background:linear-gradient(95deg, rgba(15, 222, 244, 0.07) 0%, rgba(7, 180, 239, 0.9) 100%);
    background-size: cover;
    background-position: top center;
}
header{
    display:flex;
    justify-content : center;
    align-items: center;
    padding: 50px 15px 30px;
}
header input{
    width: 100%;
    max-width:350px;
    padding:10px 25px;
    border:none;
    outline:10px;
    background-color:rgb(242, 242, 244);
    border-radius: 16px;
    border-bottom:3px solid;

    font-size:20px;
    font-weight:300;
    transition:0.3s ease-in;
    color:aliceblue;
}
header input:focus{
    background-color:rgba(0, 0, 0, 0.8)
}
main{
    flex: 1 1 100%;
    padding : 25px 25px 50px;
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.location .city{
    color:rgb(0, 5, 6);
    font-size:50px;
    font-weight:500;
    margin-bottom:10px;
}
.location .date{
    color:black;
    font-size:30px;
    margin-bottom: 10px;
}
.current .temp{
    color:black;
    font-size:102px;
    font-weight:900px;
    margin:30px 0;
    text-shadow: 2px 8px rgba(0,0,0,0.5);
}
.current .temp span{
    font-weight:200px;
}
.current .weather{
    color: black;
    font-size: 40px;
    font-weight: 700px;
    font-style:italic;
    margin-bottom:15px;
    text-shadow:0px 3px rgba(0,0,0,0.4);
}
.current .hi-low{
    color:black;
    font-size:30px;
    font-weight:900px;
    text-shadow:0px 2px rgba(0,0,0,0.4);
}
